.button {
    border: 1px solid #FF6C00;
        border-radius: 25px;
        padding: 12px 20px;
        background-color: transparent;
        font-family: inherit;
            font-weight: 600;
            font-size: 12px;
            line-height: calc(16 / 12);
            letter-spacing: 0.09em;
            text-transform: uppercase;
}